.todoCount {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #28a745;
  color: #ffffff;
}
.infoText {
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #dc3545;
  color: #ffffff;
}
